/*General Styles*/

body{
    background-color: #F6F1F1; 
    color: #000000;
    font-family: 'Kreon', serif;
    min-height: 100vh;
}

h1{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

p{
    margin: 0;
}

/*Navbar*/

.navbar{
    background-color: #19A7CE;
}

nav div.icon{
    padding-left: 0.5%;
}

/*Main page content*/

.main-body{
    padding-bottom: 100px;
}

.changes-list{
    text-decoration: underline;
}

.video{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video iframe{
    position: absolute;
    top: 5%;
    left: 17%;
    height: 70%;
    width: 70%;
}

/*Footer*/

footer{
    background-color: #146C94;
    height: 30px;
    position: sticky; /*Sticky footer with top: 100% along with body */
    top: 100%;        /*min-height: 100vh; keeps footer at bottom of page*/   
}

footer > div.container{
    min-height: 100%;
}

/*media query*/

@media screen and (max-width: 991px){ /*Allows me to make changes to the md or smaller screen size where bootstrap doesn't*/
    #windows-gui{
        padding-top: 1em;
    }  
}

@media screen and (max-width: 769px){ /*Bootstraps sm width*/
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .table-desktop{
        display: none;
    }

    .table{
        table-layout: fixed;
    }

    .table td{
        width: 33%;
    }
}

@media screen and (min-width: 768px){ /*Bootstraps md width*/
    .desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    .table-mobile{
        display: none;
    }
}